a.btn, .btn {
	background: $secondary;
	color: $primary;
	padding:10px 25px;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	transition: 500ms all;
	border: 2px solid $secondary;
	border-radius: 4px;
	display: inline-block;
	
	&:hover {
		color: $secondary;
		background: none;
	}

	&.lime {
		color: #FFF;
		background: $primary;
		border-color: $primary;

		&:hover {
			background: none;
			color: $primary;
		}
	}
}
