	body {
		overflow-x: hidden;
	}

	.wrap {
		width: 100%;
		padding: 0 15px;
		max-width: 1405px;
		margin: 0 auto;
	}
	.fallback-wrap {
		width: 100%;
		padding: 75px 15px;
		max-width: 1200px;
		margin: 0 auto;
		p {
			color: $primary;
			font-size:18px;
			line-height:28px;
			margin-bottom:15px;
			@media only screen and (max-width: 540px) {
				text-align:center;
			}
		}
		ul,ol  {
			list-style: disc;
			margin:20px 0;
			li {
					color: $primary;
			}
		}
		strong {
			margin:15px 0;
			color:$secondary;
			display: block;
			font-weight:700;
			font-size:22px;
			line-height:36px;
		}
	}
	table {
		color: $primary;
	}

	.fade-in {
		opacity: 0;
		transition: 1s all;

		&.fade-in-active {
			opacity: 1;
		}
	}

	.bg-t {
		position: absolute;
		top: 0px;
		left: 0px;
		height: calc(100%);
		width: calc(100%);
		background: url('../images/background-t-newbg.svg') center / cover no-repeat;
		z-index: -1;
	}

	img.alignright,img.alignleft,img.aligncenter, img.alignnone {
		display: block;
		max-width: 100%;
		height: auto;
	}

	ul, ol {
		li {
			font-size:18px;
		}
	}


	img.alignright {margin: 1em 0;}
	img.alignleft {margin:1em 0;}
	img.alignnone {margin: 1em 0;}
	img.aligncenter {display: block; margin: 1em}
	a img.alignright {float:right; margin:0 0 1em 1em}
	a img.alignleft {float:left; margin:0 1em 1em 0}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


	 @media only screen and (min-width: 768px) {
		img.alignright {float:right; margin:0 0 1em 1em}
		img.alignleft {float:left; margin:0 1em 1em 0}
		img.aligncenter {display: block; margin-left: auto; margin-right: auto}
		a img.alignright {float:right; margin:0 0 1em 1em}
		a img.alignleft {float:left; margin:0 1em 1em 0}
		a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

		 .section {
		 	padding: 65px 0;
		 }
	 }
