.alternate_content {
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, #F3F3F3 100%);
  padding:100px 0;
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content_cntn {
      max-width:900px;
      width:100%;
      text-align: center;
      .gif_image_lrg {
        margin:30px 0 95px 0;
        width:100%;
      }

      h2 {
        font-size:2.5rem;
        font-family: $font-heading;
        font-weight:700;
        color:$secondary;
        padding:0 0 40px 0;
      }

      ol {
        list-style-type: decimal;
        text-align: left;
        color: $primary;
        li {
          font-size:1.125rem;
          margin-bottom:20px;
        }
      }

      p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color:$primary;
        margin-bottom:30px;
      }
      p:first-child {
        font-size:1.5rem;
        line-height:1.75rem;
      }
    }
    .large_img_left {
      width:850px;
      height:850px;
      margin-left:-20%;
      @media only screen and (max-width: 1220px) {
        width:700px;
        height:700px;
      }
      @media only screen and (max-width: 998px) {
        margin-left: 0;
        max-width:400px;
        width:100%;
        max-height:400px;
        margin-bottom:30px;
      }
    }
    .right_text_wrap {
      max-width:600px;
      width:100%;
      h3 {
        font-size: 2.125rem;
        font-family: $font-heading;
        font-weight: 700;
        color: $secondary;
        padding: 20px 0;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom:25px;
        color: $primary;
      }
      p:first-child {
        font-size:1.5rem;
        line-height:2.25rem;
        color:$secondary;
      }
    }
    &:first-child {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom:100px;
    }
    @media only screen and (max-width: 998px) {
      flex-direction: column;
    }
  }
}
