.case-studies-strip {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -16vh;
	padding: calc(16vh + 110px) 15px 90px 15px;
	overflow: hidden;

	h2 {
		font-size: 40px;
		font-weight: bold;
		letter-spacing: -1px;
		font-family: $font-heading;
		margin-bottom: 70px;
	}

	.case-studies-container {
		max-width: 1280px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.case-study {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-bottom: 30px;
			text-align: center;

			.case-study-image-container {
				width: 100%;
				overflow: hidden;

				.case-study-image {
					width: 100%;
					height: 350px;
					transition: 500ms all;
				}
			}

			.case-study-snippet {
				position: relative;
				background: $primary;
				padding: 20px;
				color: #FFF;
				max-width: calc(100% - 60px);
				margin-top: -80px;

				h3 {
					font-size: 24px;
					font-family: $font-heading;
					margin-bottom: 20px;
					color: $secondary;
					font-weight: bold;
					line-height: 30px;
				}

				p {
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 25px;

					&.date {
						font-size: 14px;
						margin-bottom: 15px;
					}
				}

				.btn {
					margin: 0 auto;
					color: $primary;
					background: #FFF;
					// width: 150px;
					// height: 45px;
					font-size: 16px;
					border: 2px solid #FFF;

					&:hover {
						background: none;
						color: #FFF;
					}
				}
			}

			&:hover {
				.case-study-image-container {
					.case-study-image {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	.case-studies-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		content: ' ';
		background: url('../images/background-t.svg') left center / cover no-repeat;
		z-index: -1;
	}
}

@media only screen and (min-width: 900px) {
	.case-studies-strip {
		.case-studies-container {
			flex-direction: row;

			.case-study {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: calc(50% - 15px);
				text-align: left;

				.case-study-image-container {
					.case-study-image {
						height: 440px;
					}
				}

				.case-study-snippet {
					.btn {
						margin: 0;

						&:hover {
							background: none;
							color: #FFF;
						}
					}
				}
			}
		}
	}
}
