.contact-strip-container {
	overflow: hidden;
}

.contact-us-strip {
	position: relative;
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(100% + 400px);
	left: -200px;
	border-radius: 0 0 50% 50%;
	padding: 80px 15px 105px 15px;

	img {
		margin-bottom: 30px;
	}

	h3 {
		text-align: center;
		font-family: $font-heading;
		font-size: 22px;
		color: #FFF;
		letter-spacing: -0.88px;
		font-weight: bold;
		margin-bottom: 40px;
		max-width: 280px;
	}

	.btn {
		// width: 210px;
		// height: 60px;
		font-size: 20px;
	}
}

@media only screen and (min-width: 600px) {
	.contact-us-strip {
		h3 {
			font-size: 30px;
			max-width: 500px;
		}
	}
}

@media only screen and (min-width: 1160px) {
	.contact-us-strip {
		border-radius: 0 0 60% 60%;
		padding: 130px 15px 155px 15px;

		h3 {
			font-size: 30px;
			max-width: none;
		}
	}
}
