.fifty-fifty {
	position: relative;
	padding: 160px 0 150px 0;
	overflow: hidden;
	margin-top: -100px;

	.wrap {
		max-width: 1090px;
	}

	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 80px;

		.content {
			order: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h3 {
				font-family: $font-heading;
				font-size: 40px;
				line-height: 49px;
				color: $secondary;
				letter-spacing: -1px;
				font-weight: bold;
				margin-bottom: 25px;
			}

			p {
				line-height: 26px;
				font-size: 18px;
				color: $primary;
				margin-bottom: 25px;

				&:first-of-type {
					font-size: 22px;
					margin-bottom: 30px;
				}
			}

			ul {
				color: $primary;

				li {
					list-style: disc;
					margin-bottom: 10px;
				}
			}

			ol {
				color: $primary;

				li {
					list-style: decimal;
					margin-bottom: 10px;
				}
			}

			.btn {
				margin-top: 20px;
				display: block;
				max-width:220px;
				text-align:center;
			}
		}

		.row-image {
			order: 1;
			border-radius: 50%;
			display: block;
			height: 300px;
			width: 300px;
			margin-bottom: 25px;
		}

		&:nth-of-type(even) {
			.content {
				order: 2;
				margin-right: 0;
				margin-left: auto;
			}

			.image {
				order: 1;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media only screen and (min-width: 750px) {
	.fifty-fifty {
		.row {
			flex-direction: row;
			margin-bottom: 120px;

			.content {
				max-width: 525px;
				margin-right: auto;
				min-height: 400px;
				order: 1;
			}

			.row-image {
				border-radius: 50%;
				display: block;
				height: 300px;
				width: 300px;
				margin-left: 25px;
				margin-bottom: 0;
			}

			&:nth-of-type(even) {
				.content {
					order: 2;
					margin-right: 0;
					margin-left: auto;
				}

				.row-image {
					order: 1;
					margin-left: 0;
					margin-right: 25px;
				}
			}
		}
	}
}

@media only screen and (min-width: 950px) {
	.fifty-fifty {
		padding-top: 220px;

		.wrap {
			max-width: 1090px;
		}

		.row {
			.row-image {
				height: 400px;
				width: 400px;
			}
		}
	}
}
