.hp-masthead {
	position: relative;
	overflow: hidden;
	z-index: 2;

	.upper-masthead {
		background: $secondary;
		position: relative;
		height: 60vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: calc(100% + 400px);
		left: -200px;
		border-radius: 0 0 50% 50%;
		z-index: 2;
		min-height: 600px;

		.masthead-logo {
			max-width: 255px;
			width: 100%;
			height: 130px;
			display: block;
			background: url('../images/misc/logo-white.svg') center / contain no-repeat;
			margin-bottom: 50px;
		}

		h1 {
			color: #FFF;
			font-size: 26px;
			line-height: 32px;
			text-align: center;
			font-weight: 400;
			max-width: 320px;
		}

		.down-indicator {
			position: absolute;
			bottom: 70px;

			span {
				display: block;
				width: 33px;
				height: 15px;
				background: url('../images/misc/down-indicator.svg') center / contain no-repeat;
				animation: translate-down 5s 0s infinite;
			}

			@keyframes translate-down {
			  0%   { transform: translateY(0); }
			  50% { transform: translateY(15px); }
			  100% { transform: translateY(0); }
			}
		}
	}

	.lower-masthead {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding-top: 16vh;
		margin-top: -16vh;
		min-height: 56vh;
		width: calc(100% + 400px);
		left: -200px;
		border-radius: 0 0 50% 50%;
		overflow: hidden;
		background: url('../images/lower-masthead-bg.jpg') center / cover;

		.wrap {
			// padding-top: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		h3 {
			font-family: $font-default;
			text-align: center;
			font-weight: 400;
			font-size: 16px;
			letter-spacing: -1px;
			color: #FFF;
			max-width: 280px;
			strong {
				font-weight:700;
			}
		}

		#lower-masthead-trigger {
			position: absolute;
			top: 155px;
		}
	}
}

@media only screen and (min-width: 500px) {
	.hp-masthead {
		.lower-masthead {
			h3 {
				font-size: 20px;
				max-width: 480px;
			}
		}
	}
}


@media only screen and (min-width: 750px) {
	.hp-masthead {
		.upper-masthead {
			h1 {
				font-size: 32px;
				line-height: 40px;
				max-width: 515px;
			}
		}

		.lower-masthead {
			h3 {
				max-width: 740px;
				font-size: 27px;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.hp-masthead {
		.lower-masthead {
			h3 {
				max-width: 1100px;
			}
		}
	}
}
