.inner-masthead-container {
	overflow: hidden;
}

.inner-masthead {
	background: $secondary;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(100% + 400px);
	left: -200px;
	border-radius: 0 0 50% 50%;
	z-index: 2;
	height: 400px;

	h1 {
		max-width: 960px;
		margin: 0 auto 25px auto;
		font-family: $font-heading;
		text-align: center;
		font-weight: bold;
		font-size: 26px;
		line-height: 30px;
		letter-spacing: -1px;
		color: #FFF;
		max-width: 320px;
	}

	p {
		text-align: center;
		font-size: 20px;
		line-height: 28px;
		max-width: 960px;
		margin: 0 auto;
		color: $primary;
		max-width: 320px;
	}
}

@media only screen and (min-width: 750px) {
	.inner-masthead {
		position: relative;
		padding: 200px 15px 200px 15px;
		background: $secondary;
		width: calc(100% + 400px);
		left: -200px;
		border-radius: 0 0 60% 60%;
		z-index: 2;
		color: #FFF;
		padding: 0 250px;
		height: 60vh;
		min-height: 560px;

		h1 {
			max-width: 960px;
			margin: 0 auto 25px auto;
			font-family: $font-heading;
			text-align: center;
			font-weight: bold;
			font-size: 40px;
			line-height: 46px;
			letter-spacing: -1px;
			color: #FFF;
		}

		p {
			text-align: center;
			font-size: 32px;
			line-height: 40px;
			max-width: 960px;
			margin: 0 auto;
			color: $primary;
		}
	}
}
