.numbers_content {
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, #F3F3F3 100%);
  padding:0 0 100px 0;
  position: relative;

  .bg_circle_full_border {
    position: absolute;
    right:-25%;
    top:35%;
    z-index:0;
    @media only screen and (max-width: 1250px) {
      right:-40%;
    }
    @media only screen and (max-width: 1180px) {
      right:-50%;
    }
    @media only screen and (max-width: 920px) {
      display: none;
    }
  }

  .bg_circle_full_bg_border {
    position: absolute;
    left:-25%;
    top:6%;
    z-index:0;
    @media only screen and (max-width: 1250px) {
      left:-50%;
    }
    @media only screen and (max-width: 1220px) {
      left:-65%;
    }
    @media only screen and (max-width: 920px) {
      display: none;
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position:relative;

    .content_cntn {
      max-width:1070px;
      width:100%;
      text-align: center;
      .gif_image_lrg {
        margin:-150px 0 50px 0;
        width:100%;
        max-width:1070px;
        position: relative;
      }
      iframe {
        width:100%;
        margin:-150px 0 50px 0;
        max-width:1070px;
        height:600px;
        position: relative;
        @media only screen and (max-width: 560px) {
          height:380px;
        }
      }
      h2 {
        font-size:2.5rem;
        color:$secondary;
        font-weight:700;
        margin:20px 0;
        font-family: $font-heading;
        @media only screen and (max-width: 540px) {
          font-size:2rem;
          margin:0;
        }
      }
    }

    .number_wrap  {
      max-width:1070px;
      width:100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .number_entry {
        max-width:560px;
        width:100%;
        display: flex;
        margin:50px 0;
        .number {
          align-self: flex-start;
          margin:0 40px 0 20px;
          @media only screen and (max-width: 540px) {
            display: block;
            margin:25px auto;
          }
        }
        p {
          color: $primary;
          font-size:18px;
          line-height:28px;
          @media only screen and (max-width: 540px) {
            text-align:center;
          }
        }
        &:nth-child(even) {
          margin-left: auto;
          @media only screen and (max-width: 768px) {
            margin-left:0;
          }
        }
        @media only screen and (max-width: 540px) {
          flex-direction: column;
          margin:20px 0;
        }
      }
    }

    .large_img_left {
      width:850px;
      height:850px;
      margin-left:-20%;
      @media only screen and (max-width: 1220px) {
        width:700px;
        height:700px;
      }
      @media only screen and (max-width: 998px) {
        margin-left: 0;
        max-width:400px;
        width:100%;
        max-height:400px;
        margin-bottom:30px;
      }
    }
    .right_text_wrap {
      max-width:600px;
      width:100%;
      h3 {
        font-size: 2.125rem;
        font-family: $font-heading;
        font-weight: 700;
        color: $secondary;
        padding: 20px 0;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom:25px;
        color: $primary;
      }
      p:first-child {
        font-size:1.5rem;
        line-height:2.25rem;
        color:$secondary;
      }
    }
    &:first-child {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom:100px;
    }
    @media only screen and (max-width: 998px) {
      flex-direction: column;
    }
  }
}
