.inner-page-blocks {
	background: $secondary;
	margin-bottom: 0;
	padding-bottom: 80px;
}



.page-blocks-container {
	.wrapper_topname {
		position: relative;
		padding-top:150px;
		margin-top:-5px;
		&:before {
			content: '';
			height: 30vh;
			width: 102%;
			position: absolute;
			top: -15vh;
			left: -1%;
			z-index: 3;
			right: 1%;
			margin: 0 auto;
			background: #F3F3F3;
			border-radius: 0 0 50% 50%;
			@media only screen and (max-width: 580px) {
				height:15vh;
				top:-7.5vh;
			}
		}
	}
	.page-blocks-carousel {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		max-width: 1065px;
		margin: -280px auto 0 auto;
		padding: 0 15px;

		.row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.row-content {
				left: 0;
				max-width: 635px;
				width: 90%;
				padding: 25px;
				background: $primary;
				color: #FFF;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				order: 2;
				transition: 2s all;
				z-index: 2;
				margin-top: -90px;

				h3 {
					font-family: $font-heading;
					color: $secondary;
					font-size: 24px;
					letter-spacing: -0.9px;
					font-weight: bold;
					margin-bottom: 30px;
					max-width: 420px;
				}

				p {
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 30px;
				}

				.btn {
					// width: 150px;
					// height: 45px;
					font-size: 16px;
					background: #FFF;
					color: $primary;
					border: 2px solid #FFF;

					&:hover {
						background: none;
						color: #FFF;
					}
				}
			}

			.row-image {
				height: 350px;
				max-width: 680px;
				width: 100%;
				order: 1;
				transition: 2s all;
			}

			&.animate-page-block {
				.row-content {
					transform: translateY(-30px);
				}

				.row-image {
					transform: translateX(0);
				}
			}
		}

		.owl-dots {
			margin-top: 30px;
			display: flex;
			justify-content: center;
	   		counter-reset: dots;
	   		color: #FFF;

		    .owl-dot {
		    	&::before {
		    		font-size: 24px;
		    		margin-right: 10px;
		    		color: #FFF;
		    		counter-increment:dots;
		    		content: counter(dots);
		    	}

		    	&.active {
		    		&:before {
		    			color: $primary;
		    		}
		    	}
		    }
		}
	}
}

@media only screen and (min-width: 1010px) {
	.inner-page-blocks {
		background: $secondary;
		margin-bottom: 0;
		padding-bottom: 120px;
	}

	.page-blocks-container {
		.page-blocks-carousel {
			position: relative;
			z-index: 3;
			display: flex;
			flex-direction: column;
			max-width: 1065px;
			margin: -320px auto 0 auto;

			.row {
				display: flex;
				align-items: center;

				.row-content {
					position: absolute;
					left: 0;
					max-width: 635px;
					width: 100%;
					padding: 50px 60px;
					background: $primary;
					color: #FFF;
					text-align: center;
					display: flex;
					flex-direction: column;
					align-items: center;
					order: 1;
					transition: 2s all;
					z-index: 2;
					margin-top: 0;
					transform: translateX(40px);

					h3 {
						font-family: $font-heading;
						color: $secondary;
						font-size: 30px;
						letter-spacing: -0.9px;
						font-weight: bold;
						margin-bottom: 30px;
						max-width: 420px;
					}

					p {
						font-size: 20px;
						line-height: 28px;
						margin-bottom: 30px;
					}

					.btn {
						// width: 150px;
						// height: 45px;
						font-size: 16px;
						background: #FFF;
						color: $primary;
						border: 2px solid #FFF;

						&:hover {
							background: none;
							color: #FFF;
						}
					}
				}

				.row-image {
					height: 450px;
					max-width: 635px;
					width: 100%;
					margin-left: auto;
					order: 2;
					transition: 2s all;
					transform: translateX(-40px);
				}

				&:last-of-type {
					margin-bottom: 0px;
				}

				&:nth-of-type(even) {
					.row-content {
						left: auto;
						right: 0;
						background: $secondary;
						transform: translateX(-40px);

						h3 {
							color: $primary;
						}
					}

					.row-image {
						margin-right: auto;
						margin-left: 0;
						transform: translateX(40px);
					}

					&.animate-page-block {
						.row-content {
							transform: translateX(0);
						}

						.row-image {
							transform: translateX(0);
						}
					}
				}

				&.animate-page-block {
					.row-content {
						transform: translateX(0);
					}

					.row-image {
						transform: translateX(0);
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1010px) {
.page-blocks-carousel {
	.owl-item {
		width: 1065px;
	}
	.row {
		width: 1065px;

		.row-content {
			left: 0;
			margin-right: -50px;
		}

		.row-image {
			margin-left: auto;
		}

		.row-content, .row-image {
			transform: none;
		}
	}

	.owl-nav {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: calc(100% + 180px);
		left: -90px;
		top: 225px;

		button {
			width: 50px;
			height: 40px;

			&.owl-prev {
				background: url('../images/misc/prev-arrow.svg') center / contain no-repeat;
			}

			&.owl-next {
				background: url('../images/misc/next-arrow.svg') center / contain no-repeat;
			}
		}
	}
}

}
