.page-blocks-container {
	position: relative;
	overflow: hidden;

	.bg-t {
		z-index: 1;
		top: -100px;
		height: calc(100% + 400px);
		width: calc(100% + 400px);
	}

	.page-blocks-header {
		display: flex;
		justify-content: center;
		position: relative;
		padding: 120px 15px 355px 15px;
		background: $secondary;
		width: calc(100% + 400px);
		left: -200px;
		border-radius: 0 0 60% 60%;
		z-index: 2;
		color: #FFF;

		h2 {
			font-family: $font-heading;
			text-align: center;
			font-weight: bold;
			font-size: 36px;
			letter-spacing: -1px;
			color: #FFF;
			max-width: 400px;
		}
	}

	.page-blocks {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 1065px;
		margin: -280px auto 0px auto;
		padding: 0 15px;

		.row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 40px;

			.row-content {
				left: 0;
				max-width: 635px;
				width: calc(100% - 30px);
				padding: 25px;
				background: $primary;
				color: #FFF;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				order: 2;
				transition: 2s all;
				z-index: 2;
				transform: translateY(-100px);

				h3 {
					font-family: $font-heading;
					color: $secondary;
					font-size: 24px;
					letter-spacing: -0.9px;
					font-weight: bold;
					margin-bottom: 30px;
					max-width: 420px;
				}

				p {
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 30px;
				}

				.btn {
					font-size: 16px;
					background: #FFF;
					color: $primary;
					border: 2px solid #FFF;

					&:hover {
						background: none;
						color: #FFF;
					}
				}
			}

			.row-image {
				height: 350px;
				max-width: 635px;
				width: 100%;
				margin-left: auto;
				order: 1;
				transition: 2s all;
			}

			&:last-of-type {
				margin-bottom: 0px;
			}

			&.animate-page-block {
				.row-content {
					transform: translateY(-30px);
				}

				.row-image {
					transform: translateX(0);
				}
			}
		}
	}
}

@media only screen and (min-width: 750px) {
	.page-blocks-container {
		.page-blocks-header {
			position: relative;
			padding: 120px 15px 455px 15px;
			background: $secondary;
			width: calc(100% + 400px);
			left: -200px;
			border-radius: 0 0 60% 60%;
			z-index: 2;
			color: #FFF;

			h2 {
				font-size: 40px;
				max-width: none;
			}
		}

		.page-blocks {
			position: relative;
			z-index: 3;
			display: flex;
			flex-direction: column;
			max-width: 1065px;
			margin: -320px auto 0px auto;

			.row {
				display: flex;
				align-items: center;
				margin-bottom: 100px;

				.row-content {
					position: absolute;
					left: 0;
					max-width: 635px;
					width: 100%;
					padding: 50px 60px;
					background: $primary;
					color: #FFF;
					text-align: center;
					display: flex;
					flex-direction: column;
					align-items: center;
					order: 1;
					transition: 2s all;
					z-index: 2;
					transform: translateX(40px);

					h3 {
						font-family: $font-heading;
						color: $secondary;
						font-size: 30px;
						letter-spacing: -0.9px;
						font-weight: bold;
						margin-bottom: 30px;
						max-width: 420px;
					}

					p {
						font-size: 20px;
						line-height: 28px;
						margin-bottom: 30px;
					}

					.btn {
						font-size: 16px;
						background: #FFF;
						color: $primary;
						border: 2px solid #FFF;

						&:hover {
							background: none;
							color: #FFF;
						}
					}
				}

				.row-image {
					height: 450px;
					max-width: 635px;
					width: 100%;
					margin-left: auto;
					order: 2;
					transition: 2s all;
					transform: translateX(-40px);
				}

				&:last-of-type {
					margin-bottom: 90px;
				}

				&:nth-of-type(even) {
					.row-content {
						left: auto;
						right: 0;
						background: $secondary;
						transform: translateX(-40px);

						h3 {
							color: $primary;
						}
					}

					.row-image {
						margin-right: auto;
						margin-left: 0;
						transform: translateX(40px);
					}

					&.animate-page-block {
						.row-content {
							transform: translateX(0);
						}

						.row-image {
							transform: translateX(0);
						}
					}
				}

				&.animate-page-block {
					.row-content {
						transform: translateX(0);
					}

					.row-image {
						transform: translateX(0);
					}
				}
			}
		}
	}
}

.inner-page-blocks {
	background: $secondary;
	margin-bottom: 0;
	padding-bottom: 180px;
}

.page-blocks.owl-carousel {
	.owl-item {
		width: 1065px;
	}
	.row {
		width: 1065px;

		.row-content {
			left: 0;
			margin-right: -50px;
		}

		.row-image {
			margin-left: auto;
		}

		.row-content, .row-image {
			transform: none;
		}
	}

	.owl-dots {
		margin-top: 75px;
		display: flex;
		justify-content: center;
   		counter-reset: dots;
   		color: #FFF;

	    .owl-dot {
	    	&::before {
	    		font-size: 24px;
	    		margin-right: 10px;
	    		color: #FFF;
	    		counter-increment:dots;
	    		content: counter(dots);
	    	}

	    	&.active {
	    		&:before {
	    			color: $primary;
	    		}
	    	}
	    }
	}

	.owl-nav {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: calc(100% + 180px);
		left: -90px;
		top: 225px;

		button {
			width: 50px;
			height: 40px;

			&.owl-prev {
				background: url('../images/misc/prev-arrow.svg') center / contain no-repeat;
			}

			&.owl-next {
				background: url('../images/misc/next-arrow.svg') center / contain no-repeat;
			}
		}
	}
}
