.circle-modules {
	position: relative;
	padding: 180px 0 125px 0;
	overflow: hidden;
	margin-top: -100px;

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1140px;

		.mod {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 600px;
			text-align: center;
			margin-bottom: 60px;

			.circle-image {
				height: 205px;
				width: 205px;
				border-radius: 50%;
				margin-bottom: 40px;
			}

			h3 {
				font-family: $font-heading;
				color: $secondary;
				font-weight: bold;
				font-size: 24px;
				margin-bottom: 30px;
			}

			p {
				font-size: 20px;
				color: $primary;
				margin-bottom: 45px;
			}
			.btn {
				font-size: 16px;
				margin-top: auto;
			}
		}
	}
}

@media only screen and (min-width: 950px) {
	.circle-modules {
		padding: 220px 0 165px 0;

		.wrap {
			flex-direction: row;
			justify-content: space-between;

			.mod {
				max-width: 455px;
				margin-bottom: 0;
			}
		}
	}
}
