.contact-content {
	position: relative;
	padding: 180px 0 100px 0;
	overflow: hidden;
	margin-top: -100px;

	.bg-t {
		height: calc(100% + 100px);
	}

	.wrap {
		display: flex;
		flex-direction: column;
		max-width: 1065px;

		p {
			color: $primary;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 30px;
		}

		.left-col {
			margin-bottom: 35px;
		}

		.contact-details {
			max-width: 500px;

			p {
				line-height: 32px;
				margin-bottom: 25px;

				span {
					font-size: 20px;
					font-weight: bold;
					color: $secondary;
					display: block;
					margin-bottom: 6px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.contact-content {
		padding: 250px 0 150px;

		.wrap {
			flex-direction: row;

			p {
				font-size: 24px;
				line-height: 28px;
			}

			.left-col {
				max-width: 500px;
				margin-right: auto;
			}

			.contact-details {
				margin-left: 15px;
				max-width: 500px;

				p {
					line-height: 32px;
					margin-bottom: 25px;

					span {
						font-size: 24px;
						font-weight: bold;
						color: $secondary;
						display: block;
					}

					&:last-of-type {
						margin-bottom: 0;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.contact-form-container {
	padding: 60px 0;
	background: url('../images/form-bg.jpg') center / cover fixed;

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1065px;
	}

	h3 {
		text-align: center;
		font-family: $font-heading;
		font-weight: bold;
		letter-spacing: -0.8px;
		font-size: 30px;
		color: #FFF;
		margin-bottom: 45px;
	}

	.wpcf7 {
		width: 100%;
	}

	.wpcf7-form {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;

		input {
			height: 44px;
			margin-bottom: 10px;
		}

		input, textarea {
			font-family: $font-default;
			width: 100%;
			font-size: 14px;
			border: 1px solid #FFF;
			background: none;
			color: #FFF;
			padding: 10px;
			outline: none;
			resize: none;

			&.wpcf7-not-valid {
				border: 1px solid #f00;
			}

			&:focus {
				border: 1px solid $primary;
			}
		}

		.spacer_checker {
			color: white;
			margin-top: -18px;
			margin-left: -6px;
		}

		.checkbox-38  {
			display: inline;
			.wpcf7-list-item {
				margin:0;
				display: flex;
				align-items: center;
			}
			input {
				width:18px !important;
				height:auto;
				margin-right:10px;
			}
			.wpcf7-list-item-label {
				display: inline;
			}
		}

		p {
			margin-top: 50px;
			width: 100%;
		}

		.wpcf7-submit {
			width: 150px;
			height: 45px;
			display: flex;
			padding: 0 48px;
			justify-content: center;
			margin: 0 auto;
			text-align: center;
			background: $primary;
			border: 2px solid $primary;
			cursor: pointer;
			-webkit-appearance: none;

			&:hover {
				background: none;
			}
		}

		.contact-col {
			width: 100%;

			br {
				display: none;
			}

			span {
				display: block;
				position: relative;
				width: 100%;

				input {
					width: 100%;
				}

				textarea {
					height: 192px;
				}

				&.wpcf7-not-valid-tip {
					font-size: 13px;
					position: absolute;
					bottom: 7px;
				}
			}
		}

		.wpcf7-response-output {
			margin-top: 30px;
			color: #FFF;
			bottom: -50px;
			margin: 0 auto;
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #FFF;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #FFF;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #FFF;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #FFF;
	}
}

@media only screen and (min-width: 900px) {
	.contact-form-container {
		padding: 105px 0;

		h3 {
			margin-bottom: 65px;
		}

		.wpcf7-form {
			flex-direction: row;

			input {
				margin-bottom: 30px;
			}

			.contact-col {
				width: calc(50% - 15px);
			}
		}
	}
}
