.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: $secondary;
	z-index: 10;
	animation: loader-animation 2s 3s 1 forwards;
	pointer-events: none;

	.logo {
		max-width: 110px;
		width: 100%;
		height: 110px;
		display: block;
		background: url('../images/misc/loader-logo-white.svg') center / contain no-repeat;
		text-indent: -9999999px;
		transition: 1s all;
		position: relative;

		&::before, &::after {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 350px;
			height: 350px;
			border: 2px solid rgba(170, 205, 114, 0.1);
			border-radius: 50%;
			content: '';
			transition: transform 0.5s, opacity 0.5s;
			transform: translateX(-50%) translateY(-50%) scale(0.2);
			animation:  loader-logo-animation 5s infinite;
		}

		&::after {
			width: 320px;
			height: 320px;
			border-width: 6px;
			transform: translateX(-50%) translateY(-50%) scale(0.8);
		}
	}
}

@keyframes loader-animation {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes loader-logo-animation {
  0%   { opacity: 0; }
  50% { opacity: 1; transform: translateX(-50%) translateY(-50%) scale(1); }
  100% { opacity: 0; }
}

.timeline-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: -16vh;
	padding: calc(16vh + 80px) 15px 160px 15px;
	overflow: hidden;

	.bg-t {
		top: -200px;
		height: calc(100% + 200px);
		width: calc(100% + 200px);
	}

	h2 {
		margin-bottom: 120px;
		font-family: $font-heading;
		text-align: center;
		font-weight: bold;
		font-size: 36px;
		letter-spacing: -1px;
		color: $secondary;
	}

	.timeline {
		width: 100%;
		max-width: 750px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}

	.step {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 80px;

		.step-content {
			order: 2;
			text-align: center;
			opacity: 0;
			transition: 2s all;

			h5 {
				font-weight: bold;
				font-size: 46px;
				color: $secondary;
				margin-bottom: 10px;
			}

			p {
				font-size: 18px;
				line-height:28px;
				color: $primary;
			}
		}

		svg {
			display: none;
		}

		.step-icon {
			height: 180px;
			width: 180px;
			border-radius: 50%;
			order: 1;
			opacity: 0;
			transition: 2s all;
			margin-bottom: 15px;
		}

		&.animate-timeline {
			.step-content, .step-icon {
				opacity: 1;
			}
		}
	}
}

@media only screen and (min-width: 750px) {
	.timeline-container {
		margin-top: -16vh;
		padding: calc(16vh + 130px) 15px 160px 15px;

		.timeline {
			margin-bottom: 100px;
		}

		.step {
			height: 290px;
			margin-bottom: 0;

			.step-content {
				max-width: 250px;
				order: 1;
				text-align: right;
				margin-right: auto;
				opacity: 0;
				transition: 1s all;
				webkit-transition: 1s all;
			}

			svg {
				display: block;
				position: absolute;
				left: calc(50% - 21px);
				height: 325px;
				width: 175px;
				transform: scaleY(-1);

				.cls-1 {
					fill: none;
					stroke: $primary;
					stroke-miterlimit: 10;
					stroke-width: 13px;
					stroke-dasharray: 1000;
	  				stroke-dashoffset: 1000;
	  				will-change: stroke;
				}
			}

			.step-icon {
				position: absolute;
				left: calc(50% - 90px);
				border-radius: 50%;
				order: 2;
			}

			&:nth-of-type(even) {
				.step-content {
					order: 2;
					text-align: left;
					margin-left: auto;
					margin-right: 0;
				}

				svg {
					transform: scale(-1);
					left: auto;
					right: calc(50% - 21px);

					.cls-1 {
						stroke: $secondary;
					}
				}

				.step-icon {
					order: 1;
				}
			}

			&.animate-timeline {
				svg {
					.cls-1 {
						animation: dash 2.5s linear forwards;
						webkit-animation: dash 2.5s linear forwards;
					}
				}

				@keyframes dash {
				  to {
				    stroke-dashoffset: 0;
				  }
				}
			}
		}
	}
}
