.news-overview {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 3;
	display: flex;
	max-width: 1065px;
	margin: -80px auto 90px auto;

	article {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;

		.article-content {
			width: 100%;
			padding: 20px;
			background: $primary;
			color: #FFF;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			order: 2;
			max-width: calc(100% - 30px);
			margin-top: -80px;

			h3 {
				font-family: $font-heading;
				color: $secondary;
				font-size: 24px;
				line-height: 30px;
				letter-spacing: -0.9px;
				font-weight: bold;
				margin-bottom: 10px;
				max-width: 420px;
			}

			p {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 30px;

				&.date {
					font-size: 16px;
					line-height: 18px;
					margin-bottom: 30px;
				}
			}

			.btn {
				
				font-size: 16px;
				background: #FFF;
				color: $primary;
				border: 2px solid #FFF;

				&:hover {
					background: none;
					color: #FFF;
				}
			}
		}

		.article-image {
			height: 350px;
			max-width: 635px;
			width: 100%;
			order: 2;
			order: 1;
		}

		&:last-of-type {
			margin-bottom: 0px;
		}

		&:nth-of-type(odd) {
			margin-right: 0;
		}

		&:nth-of-type(even) {
			.article-content {
				left: auto;
				right: 0;
				background: $secondary;

				h3 {
					color: $primary;
				}
			}

			.article-image {
				margin-right: auto;
				margin-left: 0;
			}
		}

		&:first-of-type {
			width: 100%;
			flex-direction: column;
			margin-bottom: 30px;

			&:nth-of-type(even) {
				.article-content {
					left: auto;
					right: 0;
					background: $secondary;

					h3 {
						color: $primary;
					}
				}

				.article-image {
					margin-right: auto;
					margin-left: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.news-overview {
		margin: -150px auto 90px auto;

		article {
			width: calc(50% - 10px);
			margin-right: 20px;
			margin-bottom: 30px;

			.article-content {
				padding: 20px 30px 30px 20px;
				max-width: calc(100% - 60px);

				h3 {
					font-family: $font-heading;
					color: $secondary;
					font-size: 30px;
					letter-spacing: -0.9px;
					font-weight: bold;
					margin-bottom: 10px;
					max-width: 420px;
				}

				p {
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 30px;

					&.date {
						font-size: 14px;
						line-height: 14px;
						margin-bottom: 30px;
					}
				}
			}

			&:first-of-type {
				width: 100%;
				flex-direction: row;
				margin-bottom: 100px;

				.article-content {
					position: absolute;
					left: 0;
					max-width: 635px;
					width: 100%;
					padding: 50px 60px;
					margin-top: 0;

					p {
						font-size: 20px;
						line-height: 28px;
						margin-bottom: 30px;

						&.date {
							margin-bottom: 30px;
						}
					}
				}

				.article-image {
					height: 450px;
					max-width: 635px;
					width: 100%;
					margin-left: auto;
					order: 2;
					transition: 15s all;
				}

				&:last-of-type {
					margin-bottom: 0px;
				}

				&:nth-of-type(even) {
					.article-content {
						left: auto;
						right: 0;
						background: $secondary;

						h3 {
							color: $primary;
						}
					}

					.article-image {
						margin-right: auto;
						margin-left: 0;
					}
				}
			}
		}
	}
}
