.single-post-container {
	position: relative;
	padding: 180px 0 150px 0;
	margin-top: -100px;
	overflow: hidden;

	.wrap {
		max-width: 1090px;
	}

	.featured-image {
		display: block;
		height: 290px;
		width: 290px;
		margin: 0 auto 40px auto;
		border-radius: 50%;
	}

	p {
		line-height: 22px;
		font-size: 18px;
		color: $primary;
		margin-bottom: 25px;

		&:first-of-type {
			font-size: 22px;
			line-height: 28px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.single-post-container {
		.featured-image {
			height: 400px;
			width: 400px;
			float: right;
			margin: 0 0 50px 50px;
		}

		p {
			line-height: 28px;
			font-size: 20px;

			&:first-of-type {
				font-size: 22px;
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.single-post-container {
		padding: 250px 0 150px 0;
	}
}
