.site-map-container {
	position: relative;
	padding: 160px 0 150px 0;
	overflow: hidden;
	margin-top: -100px;

	h2.wsp-pages-title {
		color: $primary;
	    font-size: 24px;
	    line-height: 24px;
	    font-weight: 300;
	    margin-bottom: 20px;
	}

	ul {
		margin-bottom: 40px;

		li {
			list-style: disc;
			margin-bottom: 10px;
			margin-left: 15px;
		}

		&.wsp-pages-list, &.wsp-who-we-ares-list, &.wsp-what-we-dos-list {
			li {
				list-style: none;
				margin-bottom: 0;

				a {
					color: inherit;
					text-decoration: none;
				}
			}
		}
	}
}

@media only screen and (min-width: 950px) {
	.fifty-fifty {
		padding-top: 220px;
	}
}
