.lower-masthead-container {
	overflow: hidden;
	margin-top: -100px;

	.thermoform-lower-masthead {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		width: calc(100% + 400px);
		left: -200px;
		border-radius: 0 0 50% 50%;
		padding: 140px 135px 80px;
		background: #F3F3F3;

		h2  {
			text-align: center;
			font-size: 2.5rem;
			font-family: $font-heading;
			font-weight: 700;
			color: $secondary;
			margin-bottom:50px;
		}

		.wrap {
			max-width: 1155px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&:first-child {
				justify-content: center;
			}
		}

		.icon-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;

			.icon {
				height: 150px;
				width: 150px;
				margin-bottom: 10px;
			}

			h4 {
				font-size: 24px;
				line-height:28px;
				color: $secondary !important;
				font-family: $font-default !important;
				font-weight: bold;
			}
		}
	}
}

@media only screen and (min-width: 700px) {
	.lower-masthead-container {
		.thermoform-lower-masthead {
			.icon-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 50%;
				text-align: center;
				margin-bottom: 30px;

				.icon {
					height: 150px;
					width: 150px;
					margin-bottom: 10px;
				}

				h4 {
					font-size: 24px;
					color: $primary;
				}
			}
		}
	}
}


@media only screen and (min-width: 1140px) {
	.lower-masthead-container {
		overflow: hidden;
		margin-top: -150px;

		.thermoform-lower-masthead {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			width: calc(100% + 400px);
			left: -200px;
			border-radius: 0 0 60% 60%;
			background: #F3F3F3;
			padding: 200px 135px 80px;

			.wrap {
				max-width: 1155px;
				display: flex;
				justify-content: space-between;
			}

			.icon-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: auto;

				.icon {
					height: 150px;
					width: 150px;
					margin-bottom: 35px;
				}

				h4 {
					font-size: 24px;
					color: $primary;
				}
			}
		}
	}
}
.green_tt_bg {
	background-color: $secondary;
}
.diameter-section {
	position: relative;
	padding: 90px 0 90px 0;
	background: #F3F3F3;


	.circle-container {
		opacity: 0.1;
	}

	.circles {
		display: block;
		position: absolute;
		z-index: 1;
		top: -150px;
		height: 1400px;
		width: 1400px;
		background: url('../images/circles.svg') center / contain;
		right: -850px;
	}

	.wrap {
		display: flex;
		justify-content: space-between;
		@media only screen and (max-width: 768px) {
			flex-direction: column;
		}
	}
	.diameter_gif {
		max-width:550px;
		width:100%;
		img {
			width:100%;
		}
	}
	.diameter-content {
		position: relative;
		z-index: 2;
		width: 100%;
	}

	h2 {
		font-family: $font-heading;
		font-size: 40px;
		color: $secondary;
		letter-spacing: -1px;
		font-weight: bold;
		margin-bottom: 25px;
	}

	p {
		line-height: 28px;
		font-size: 20px;
		color: $primary;
		margin-bottom: 25px;

		&:first-of-type {
			font-size: 22px;
			margin-bottom: 35px;
		}
	}

	.btn {
		margin: 30px 0 75px 0;
	}

	.stats {
		h3 {
			font-family: $font-heading;
			font-size: 30px;
			color: $secondary;
			letter-spacing: -1px;
			font-weight: bold;
			margin-bottom: 25px;
		}

		img {
			max-width: 330px;
			width: 100%;
			height: auto;
		}
	}
}

@media only screen and (min-width: 768px) {
	.diameter-section {
		padding: 90px 0 90px 0;

		.diameter-content {
			max-width: 520px;
			width: 100%;
		}

		.circle-container {
			opacity: 1;
		}
	}
}


@media only screen and (min-width: 1000px) {
	.diameter-section {
		.circles {
			right: -650px;
		}
		.diameter-content {

			margin-left:100px;
		}
	}
}

@media only screen and (min-width: 1130px) {
	.diameter-section {
		.circles {
			top: -150px;
			right: -400px;
			height: 1400px;
			width: 1400px;
		}

		.diameter-content {
			max-width: 520px;
			width: 100%;
			margin-left:150px;
		}

		h2 {
			font-family: $font-heading;
			font-size: 40px;
			color: $secondary;
			letter-spacing: -1px;
			font-weight: bold;
			margin-bottom: 25px;
		}

		p {
			line-height: 28px;
			font-size: 20px;
			color: $primary;
			margin-bottom: 25px;

			&:first-of-type {
				font-size: 22px;
				margin-bottom: 35px;
			}
		}

		.btn {
			margin: 30px 0 75px 0;
		}

		.stats {
			h3 {
				font-family: $font-heading;
				font-size: 30px;
				color: $secondary;
				letter-spacing: -1px;
				font-weight: bold;
				margin-bottom: 25px;
			}

			img {
				height: 70px;
			}
		}
	}
}
