footer {
	padding-top: 30px;
	background: $secondary;
	background-image: url('../images/new-footer-bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: $primary;
	border-top: 5px solid $primary;
	display: flex;
	flex-direction: column;
	align-items: center;

	.footer-logo {
		max-width: 200px;
		width: 100%;
		height: 100px;
		display: block;
		background: url('../images/misc/logo-white.svg') center / contain no-repeat;
		margin-bottom: 35px;
	}

	nav {
		display: none;
	}

	.contact-details {
		width: 100%;
		background: $primary;
		color: #FFF;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: 19px;
			line-height: 28px;
			font-weight: bold;

			a{
				transition: 500ms all;

				&:hover {
					color: $secondary;
				}
			}
		}
	}

	.lower-strip {
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding: 20px 15px;
		color: #FFF;

		p {
			font-size: 14px;

			a {
				transition: 500ms all;

				&:hover {
					color: $primary;
				}
			}
		}

		@media only screen and (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

	}
}

@media only screen and (min-width: 768px) {
	footer {
		padding-top: 60px;

		nav {
			display: block;
			width: 100%;
			margin-bottom: 40px;

			ul {
				display: flex;
				justify-content: center;

				li {
					color: #FFF;
					font-size: 18px;
					transition: 500ms all;

					&:hover {
						color: $primary;
					}

					&:after {
						color: $primary;
						content: '|';
						margin: 0 12px;
					}

					&:last-of-type {
						margin: 0;

						&:after {
							content: none;
						}
					}
				}
			}
		}

		.contact-details {
			height: 55px;
			flex-direction: row;
			height: 70px;
			
			p {
				&:after {
					content: '|';
					margin: 0 12px;
				}

				&:last-of-type {
					margin: 0;

					&:after {
						content: none;
					}
				}
			}
		}
	}
}
