header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 15px 20px 15px;
	display: flex;
	align-items: center;
	z-index: 10;
	transition: 1s all;
	background: rgba(0, 55, 42, 0.8);
	border-bottom: 1px solid $secondary;
	padding: 10px 15px 10px 15px;

	.logo {
		max-width: 70px;
		width: 100%;
		height: 50px;
		display: block;
		background: url('../images/misc/small-logo.svg') center / contain no-repeat;
		text-indent: -9999999px;
		margin-right: auto;
		transition: 0.5s all;

		&:hover {
			transform: scale(0.9);
		}
	}

	.nav-icon {
		position: absolute;
		z-index: 2;
		top: calc(50% - 9px);
		right: 15px;
		width: 30px;
		height: 20px;
		position: absolute;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		z-index: 99999;

		span {
		 	display: block;
		 	position: absolute;
		 	height: 4px;
		 	width: 100%;
		 	background: #FFF;
		 	opacity: 1;
		 	transform: rotate(0deg);
		 	transition: .25s ease-in-out;
		}
	}

	.nav-icon span:nth-child(1) {
		top: 0px;
		transform-origin: left center;
	}

	.nav-icon span:nth-child(2) {
 		top: 7px;
 		transform-origin: left center;
	}

	.nav-icon span:nth-child(3) {
  		top: 14px;
  		transform-origin: left center;
	}

	.nav-icon.open span:nth-child(1) {
 		transform: rotate(45deg);
 		top: -6px;
 		left: 0px;
	}

	.nav-icon.open span:nth-child(2) {
  		width: 0%;
  		opacity: 0;
	}

	.nav-icon.open span:nth-child(3) {
 		transform: rotate(-45deg);
 		top: 15px;
 		left: 0px;
	}

	nav {
		position: fixed;
		top: -100vh;
		left: 0;
		background: $primary;
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 500ms all;
		opacity: 0;

		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			li {
				position: relative;
				font-weight: bold;
				color: #FFF;
				font-size: 23px;
				transition: 500ms all;
				margin-bottom: 25px;

				ul {
					display: none;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		&.active-nav {
			top: 0;
			opacity: 1;
		}
	}
}

@media only screen and (min-width: 998px) {
	header {
		padding: 30px 15px 20px 15px;

		.logo {
			max-width: 120px;
			width: 100%;
			height: 80px;
			display: block;
			background: url('../images/misc/logo-white.svg') center / contain no-repeat;
			text-indent: -9999999px;
			margin-right: auto;
			transition: 0.5s all;
		}

		.nav-icon {
			display: none;
		}

		nav {
			position: static;
			background: none;
			height: auto;
			width: auto;
			top: auto;
			left: auto;
			opacity: 1;

			ul {
				flex-direction: row;

				li {
					position: relative;
					font-weight: normal;
					color: #FFF;
					font-size: 18px;
					margin-bottom: 0;

					a {
						position: relative;

						&::before,
						&::after {
							opacity: 0;
							position: absolute;
							top: 50%;
							left: 50%;
							width: 70px;
							height: 70px;
							border: 2px solid rgba(0,0,0,0.1);
							border-radius: 50%;
							content: '';
							transition: transform 0.3s, opacity 0.3s;
							transform: translateX(-50%) translateY(-50%) scale(0.2);
						}

						&::after {
							width: 60px;
							height: 60px;
							border-width: 6px;
							transform: translateX(-50%) translateY(-50%) scale(0.8);
						}

						&:hover::before,
						&:hover::after,
						&:focus::before,
						&:focus::after {
							opacity: 1;
							transform: translateX(-50%) translateY(-50%) scale(1);
						}
					}

					ul {
						visibility: hidden;
						opacity: 0;
						position: absolute;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						background: rgba(0, 55, 42, 0.8);
						padding: 15px;
						width: 300px;
						margin-left: -15px;
						margin-top:22.5px;
						transition: 1s all;

						li {
							margin-bottom: 15px;

							&:after {
								content: none;
							}
						}
					}

					&:hover {
						color: $primary;

						ul {
							visibility: visible;
							opacity: 1;
						}
					}

					&:after {
						color: $primary;
						content: '|';
						margin: 0 12px;
					}

					&:last-of-type {
						margin: 0;

						&:after {
							content: none;
						}
					}
				}
			}
		}

		&.header-active {
			background: rgba(0, 55, 42, 0.8);
			border-bottom: 1px solid $secondary;
			padding: 10px 15px 10px 15px;
			z-index: 10;

			.logo {
				max-width: 70px;
				width: 100%;
				height: 50px;
				display: block;
				background: url('../images/misc/small-logo.svg') center / contain no-repeat;
				text-indent: -9999999px;
				margin-right: auto;
			}
		}
	}
}
